.main-content {
  margin-left: 240px; /* This should match the width of the expanded drawer */
  padding: 16px;
}

.main-content.collapsed {
  margin-left: 60px; /* This should match the width of the collapsed drawer */
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}